#canvas-wrapper{
  z-index: -10;
}

/* make text left aligned and remove margins on mobile in a dirty dirty way */
/* fix later lul */
@media all and (max-width: 767px) {
  .et_pb_fullwidth_header .header-content{
    text-align: left!important;
    margin: 20px 0px!important;
  }
}

/* Weird mobile header stuff */
/* keeps header from becoming sticky when scrolling */
@media (max-width: 980px){
  .et_fixed_nav #main-header, .et_fixed_nav #top-header, .et_non_fixed_nav.et_transparent_nav #main-header, .et_non_fixed_nav.et_transparent_nav #top-header {
      position: absolute!important;
  }
}

/* canvas doesn't extend over padding */
/* creates white area above canvas */
/* something weird to do with menus */
#canvas-wrapper{
  padding-top: 0px!important;
}

#header-section{
/*   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
  background-size: 25vmax;

  h1 {
    @media all and (max-width:767px) {
      text-align: left;
      font-size: 7.5vh;
      white-space: normal;
      /* hyphens: auto; */
    }
    /* hyphens: manual; */
    text-align: center;
    white-space: nowrap;
    user-select: none;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }
}


/* hides first title, which has a wonky translation for some reason */
.am-select-service-title:nth-of-type(1){
  display:none;
}

.am-select-service-title:nth-of-type(2){
  display:block!important;
}

/* custom breakpoint for the mobile menu */

@media screen and (min-width: 285px) {
    #top-menu {
        display: block!important;
    }
    #et_mobile_nav_menu {
        display: none!important;
    }
}

/* fontawesome menu items */
.fa-menu-item{
  color:white;
  font-size: 2em;
  padding-left: 20px;
}

/* quick and dirty fix hiding menu items */
.et_header_style_centered .mobile_nav .select_page, .et_header_style_split .mobile_nav .select_page, .et_nav_text_color_light #top-menu>li>a, .et_nav_text_color_dark #top-menu>li>a, #top-menu a, .et_mobile_menu li a, .et_nav_text_color_light .et_mobile_menu li a, .et_nav_text_color_dark .et_mobile_menu li a, #et_search_icon:before, .et_search_form_container input, span.et_close_search_field:after, #et-top-navigation .et-cart-info{
  color:#fff!important;
}

/* make subheading translucent when first loading the page */
/* js animation will fade it in, in sync with the circles animation */
.et_pb_fullwidth_header_subhead{
  opacity: 0;
}

/* hide popup box shadow */
#et-boc .area-outer-wrap[data-da-shadow=yes] [data-da-area]{
	box-shadow:none!important;
}